/* Dropdown Button */
body{
  background-color: #F7F5E8;
}
.dropbtn {
    /* color: white; */
    /* padding: 16px; */
    /* font-size: 16px; */
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right:1px;  
    background-color: #F7F5E8;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top:15px;
    border-radius:10px;
  }
  .dropdown-content2 {
    display: none;
    position: absolute;
    right:1px;
    background-color: #F7F5E8;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top:15px;
    border-radius:10px;
  }
  
  .dropdown-content p {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;  
}

.dropdown-content2 p {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content2 a:hover {
  background-color: #ddd;  
}

  .show {display:block;}


  /* ESTILOS BURGER MENU */

  
  .bm-menu {
    
    background: #1d1d03;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    
  }
  
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 16px;
    top: 16px;
  }
  
  .bm-burger-bars {
    background: #f7f5e8;
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-cross {
    background: #f7f5e8;
  }
  
  .bm-item-list {
    color: #f7f5e8;
    padding: 0.8em;
  }
  
  .bm-item {
    display: inline-block;
    text-decoration: none;
    color: #f7f5e8;
    margin-bottom: 10px;
    transition: color 0.2s;
  }
  
  .bm-item:hover {
    color: #a0c4ff;
  }
  
  .menu-item {
    padding: 10px 0;
  }
  
  .submenu .menu-item {
    display: flex;
    padding-left: 20px;
  }