@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    height:100vh;
}

.ql-editor{
    border: 2px solid #1D1D03;
    font-size: 18px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: white;
}
.ql-toolbar.ql-snow{
    border: 2px solid #1D1D03;
    /* border-top-left-radius: 7px;
    border-top-right-radius: 7px; */
    border-radius: 7px;
    margin-bottom: 3px;
   
}

.ql-snow{
    border-radius: 7px;
}


.post-content p{
    font-size: 1.05rem;
    margin-bottom: 0.5rem;
}

.post-content h1 {
    font-size: 1.35rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
   
}

.post-content h2 {
    font-size: 1.2rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content a{
    color: teal;
    text-decoration: none;
}

.post-content a:hover{
    text-decoration: underline;
}